<html>
  <body background="http://bitcoinboulevard.com/White-Design/W1600x1200.jpg">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12">
          <h1 class="page-header"> User: <%= @wallet.user.email%> </h1>
        </div>
        <div class="panel-body">
          <p> Wallet: <%= @wallet.account%> </p>
          <p> Private Key: <%= @wallet.private_key %> </p>
          <p> <%= @wallet.active %> </p>
        </div>
        <div class="panel-body">
          <%= link_to "New Transaction", new_wallet_transaction_path(@wallet.id), class: 'btn btn-default btn-lg' %>
          <%= link_to "Home", test_path, class: 'btn btn-default btn-lg' %>
          <%= link_to "Sign out", destroy_user_session_path, class: 'btn btn-default btn-lg', :method => :delete %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Transactions</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th> Transaction number </th>
                  <th> Description </th>
                  <th> Amount </th>
                  <th> Status </th>
                </tr>
              </thead>
              <tbody>
                <% @wallet.transactions.each do |transaction| %>
                  <tr>
                    <td> <%= transaction.id %> </td>
                    <td> <%= transaction.description %> </td>
                    <td> <%= transaction.amount %> </td>
                    <td> <%= transaction.status %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </body>
  </html>
