<div class="panel-body">
  <%= simple_form_for [@wallet, @transaction] do |f| %>
    <%= f.hidden_field :wallet, value: @wallet.try(:wallet) %>
    <%= f.input :sender_wallet, label: false, input_html: {placeholder: "Sender's Wallet"}%>
    <%= f.input :sender_private_key, label: false, input_html: {placeholder: "Sender's Key"}%>
    <%= f.input :sender_card, label: false, input_html: {placeholder: "Sender's Card"}%>
    <%= f.input :description, label: false, input_html: {placeholder: "Description"} %>
    <%= f.input :amount, label: false, input_html: {placeholder: "Amount"}%>
    <%= f.input :password, label: false, input_html: {placeholder: "Sender's Password"}%>
    <%= f.input :sender_pin, label: false, input_html: {placeholder: "PIN Code"}%>
    <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-success"%>
  <% end %>
</div>
